logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
node_modules
public/compiled
npm-debug.log
.metals
.vscode
dist
project/boot
project/target
project/plugins/target
target
.target
tmp
dump
*.log
